<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Algoritmos de Clasificacion</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>

<body 
background="https://images.wallpaperscraft.com/image/single/chip_circuit_processor_140251_1920x1080.jpg"  
>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>
 <style>
  h1{
    color: white;
  }
</style>
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">HOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'daddy' %}">sumatoria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/admin/">Admin</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Algoritmo de Clasificación
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'algoritmo1' %}">Knn</a></li>
            <li><a class="dropdown-item" href="{% url 'algoritmoBaye' %}">Bayesiano</a></li>
            <li><a class="dropdown-item" href="{% url 'RALineal' %}">Regresion Lineal</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1 class="text-center" class="display-1">ALGORITMOS DE CLASIFICACIÓN</h1>
<br>

<br>

  <figure class="text-center">
    <blockquote class="blockquote">
      <p> </p>
    </blockquote>
    

  <div class="alert alert-primary" role="alert">
    Bienvenido a su página de Algoritmos de Clasificación.
  </div>

</body>
</html>